<div class="container">
  <h1 class="text-center">Toutes les annonces</h1>
  <div class="row">
    <div class="col-10 offset-1">
      <div class="cards">
        <% @requests.each do |request| %>
          <%= render 'request_card', request: request %>
        <% end %>
      </div>
    </div>
  </div>
</div>
